version: '3.8'
services:
  frontend:
    build:
      context: ./web_app
      dockerfile: Dockerfile
    ports:
      - '3001:3000' 

  backend:
    build:
      context: ./flask_server 
      dockerfile: Dockerfile
    ports:
      - '5000:5000'
    depends_on:
      - frontend 